<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include header.html %}

<!-- One -->
<section id="one" class="main special">
	<div class="container">
		{% for hack in site.data.hacks %}
		{% assign now = "now" | date: "%Y-%m-%d" %}
		{% assign hackdate = hack.date | date: "%Y-%m-%d" %}
		{% if hackdate == now %}
		<span class="image fit primary"><img src="{{ hack.img }}" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Today's Theme: <div>{{ hack.title }}</div></h2>
			</header>
			<h3>{{ hack.description }}</h3>
			<br>
			<h3>Here are some ideas to get you started:</h3>
			<div>
				<p>- {{ hack.ex1 }}</p>
				<p>- {{ hack.ex2 }}</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<a href="#two" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Two -->
<section id="two" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/bg_beach.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Previous Themes</h2>
			</header>
			<!--<p></p> -->
<!-- 
			<ul>
				{% for hack in site.data.hacks %}
				{% assign now = "now" | date: "%Y-%m-%d" %}
				{% assign hackdate = hack.date | date: "%Y-%m-%d" %}
				  {% if hackdate < now %}
				  <li>
					<span class="icon major fa-code"></span>
					<h3>{{ hack.title }}</h3>
				  </li>
				  {% endif %}
				{% endfor %}
			</ul> -->

			{% assign currentYear = site.time | date: "%Y" %}
			{% assign yesterday = site.time | date: "%j" | minus: 1 %}
			{% assign yesterday_minus = site.time | date: "%j" | minus: 5  %}

			<ul class="icons-grid">
				{% for hack in site.data.hacks %}
				{% assign hackYear = hack.date | date: "%Y" %}
    			{% assign hackDay = hack.date | date: "%j" | plus: 0 %}

				{% if currentYear == hackYear and hackDay > yesterday_minus and hackDay <= yesterday %}
				  <li>
					<span class="icon major fa-plus-circle"></span>
					<h3>{{ hack.title }}</h3>
				  </li>
				{% endif %}
				{% endfor %}
			</ul>

			<!-- <ul class="icons-grid">
				<li>
					<span class="icon major fa-camera-retro"></span>
					<h3>Health/Wellness</h3>
				</li>
				<li>
					<span class="icon major fa-pencil"></span>
					<h3>Community</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>Career</h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3>Productivity</h3>
				</li>
			</ul> -->
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Three -->
<section id="three" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/bg_mountains.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>About This Site</h2>
			</header>
			<p>Self Hack of the Day provides daily suggestions of small activities that anyone can do to help improve their productivity. By accomplishing these simple tasks, anyone can "self-hack" their way to a productive day!</p>
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
</section>

{% include footer.html %}

</body>
</html>
