<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include header.html %}

<!-- One -->
<section id="one" class="main special">
	<div class="container">
		{% for hack in site.data.hacks %}
		{% assign now = "now" | date: "%Y-%m-%d" %}
		{% assign hackdate = hack.date | date: "%Y-%m-%d" %}
		{% if hackdate == now %}
		<span class="image fit primary"><img src="{{ hack.img }}" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Today's Theme: {{ hack.title }}</h2>
			</header>
			<p>- {{ hack.ex1 }}</p>
			<p>- {{ hack.ex2 }}</p>
			<p>- {{ hack.ex3 }}</p>
		</div>
		{% endif %}
		{% endfor %}
		<a href="#two" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Two -->
<section id="two" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/bg_beach.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Previous Themes</h2>
			</header>
			<!--<p></p> -->
			<ul>
				{% for hack in site.data.hacks limit:4 %}
				{% assign now = "now" | date: "%Y-%m-%d" %}
				{% assign hackdate = hack.date | date: "%Y-%m-%d" %}
				{% if hackdate < now %}
				  <li>
					<h3>{{ hack.title }}</h3>
				  </li>
				{% endif %}
				{% endfor %}
			</ul>
			<!-- <ul class="icons-grid">
				<li>
					<span class="icon major fa-camera-retro"></span>
					<h3>Health/Wellness</h3>
				</li>
				<li>
					<span class="icon major fa-pencil"></span>
					<h3>Community</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>Career</h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3>Productivity</h3>
				</li>
			</ul> -->
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Three -->
<!-- <section id="three" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>One more thing</h2>
			</header>
			<p>Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.</p>
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
</section> -->

{% include footer.html %}

</body>
</html>
